.main {
    width: 70%;
    margin: 20px auto;
}

.form-group .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
    background-color: darkgrey;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: 1.3em;
}